*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: border-box;
    }
    .hero{
        height: 640px;
        width:100%;
        background-image: url("hero-img3.png");
        background-size: cover;
        
    }
    .navbar {
        background-color: #1a1a2e;
        width: 100%;
        padding: 15px 0;
    }
    
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }
    
    .navbar-brand {
        font-size: 2rem;
        color: #9ae945;;
    }
    
    .navbar-menu {
        list-style-type: none;
        display: flex;
        gap: 20px;
    }
    
    .navbar-menu li a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
    }
    
    .navbar-menu li a.active {
        border-bottom: 2.5px solid #9ae945;;
    }
    
    .navbar-user {
        color: #ffffff;
    }
    .writing{
        height: 250px;
        width:80%;
        display: flex;
        justify-content:center;
        text-align: center;
        color: #A3C468;
        padding-left: 45%;
        padding-top: 190px;
    }
    p{
        font-size: 20px;
        font-weight: 14%;
    }
    .foot{
        height: 32px;
        background-color: #A3C468;
        margin-top: 24.2%;
    }
   .con{
    margin-top: 14px;
    background-color: #F5F5F5;
    border: 2px solid #E0E0E0;
    border-radius: 15px;
    height:32px;
    width:164px;
    color: #0A5247;
    padding: 4px;
    font-size: 15px;
   }
   .con:hover{
    background-color:#dbd5d5 ;
   }

   
.pp{
    background-image: url(pp2.png);
    height: 40px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -40px;
    margin-left: 20px;
  }

.profile{
    margin-top: 50px;
  
    
  }


